NEXT_PUBLIC_SUPABASE_URL=https://zrfoodrsichkedzovvdr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpyZm9vZHJzaWNoa2Vkem92dmRyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEzNDM0NzAsImV4cCI6MjA4NjkxOTQ3MH0.uQpkzLlAVdLPCKpbrlZLVbVc8fkQpJTukAk-phjQ8NA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpyZm9vZHJzaWNoa2Vkem92dmRyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTM0MzQ3MCwiZXhwIjoyMDg2OTE5NDcwfQ.5Uf71f-sydcHCwMZBO9uXaF91BwZQnhm6e_zZ-BoA9s
